.accordion {
	max-width: 500px;
    background-color: #1E1E1E;
}
details {
	background-color: #1E1E1E;
	margin-bottom: 10px;
}
details:hover {
	filter: drop-shadow(5px 5px 4px #0A0A0A);
}
details > summary {
	color: #f4de64;
	padding: 5px 10px;
	font-size: 1.3em;
	cursor: pointer;
}
details > p {
	padding: 5px 10px 10px 20px;
	color: #ddd;
	font-size: 1.1em;

}

p>img{
    display: block;
    padding: 3%;
    float: right;
    width: 45%;
    height: 70%;
}

details:not([open]){
    display: inline;
    width: 100%;
}